.ui-BreadCrumb
    .pal(style= 'background-color: white; display: flex')
        img(src= 'assets/img/robot.png', height= '60', align= 'top')

        div.phl.pvs(style= 'color: #888; font-style: italic;')
          div.mbs Cardiovascular > Physiology: Cardiovascular Physiology > Electrocardiography
          div.fsxxxl(style= 'font-style: normal; color: #555;') ECG basics