.ui-BreadCrumb

    img.breadcrumb-img(src= 'assets/img/robot.png')

    .phl
      .breadcrumb-item.mbs Cardiovascular > Physiology: Cardiovascular Physiology > Electrocardiography
      .chapter-title ECG basics
