.ui-ContentView

  .ui-BreadCrumb

  .dflex
    .current-video-section

      .ui-Video

      .ui-VideoOverview

    .other-videos-section

      .up-next-videos-card

      .memory-anchors-videos-card
