
background-color: #fff;
padding: 10px;
border: 1px solid #ddd;

.search-input {
    width: 480px;
    background-color: #EFEFEF;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 16px;
    outline: 0;
}
