.ui-PageComponent
  h1.fwb Mix example
  .ui-ExampleA
  .ui-ExampleB

  h1.fwb Append example
  .appended-elements

  h1.fwb Mixlist example
  .mix-list.mll
  button(href='', data-bind='click: add', style='width: 80px; height: 30px') Add
