.ui-SideNav

  a.toggle-btn(href='', data-bind= 'click: displayAlert')
    i.fa.fa-bars.fsxxxxl

  a.top-option(href='', data-bind= 'click: displayAlert')
    i.fi.fi-logo.fsxxxxxl
    .icon-text.ptm.align-center Library

  ul.sidenav-main-options

    li.sidenav-list-item
      a(href='', data-bind= 'click: displayAlert')
        i.fi.fi-calendar
        .icon-text.ptm.align-center Step 1 Schedule

    li.sidenav-list-item
      a(href='', data-bind= 'click: displayAlert')
        i.fi.fi-builder
        .icon-text.ptm.align-center Quiz builder

    li.sidenav-list-item
      a(href='', data-bind= 'click: displayAlert')
        i.fi.fi-group
        .icon-text.ptm.align-center Team workspace

  ul.sidenav-secondary-options

    li.sidenav-list-item
      a(href='', data-bind= 'click: displayAlert')
        i.fa.fa-plus
        .icon-text.ptm.align-center Add Tools

    li.sidenav-list-item
      a(href='', data-bind= 'click: displayAlert')
        i.fa.fa-question
        .icon-text.ptm.align-center Help

