.ui-SideNav
  div.mbm
    i.fi.fi-logo.fsxxxxl
  div(style= 'text-align: center;') Library

  ul
    li
      div.mbm
        i.fi.fi-calendar.fsxxxl
      div(style= 'text-align: center;') Step 1 Schedule
    li
      div.mbm
        i.fi.fi-builder.fsxxxl
      div(style= 'text-align: center;') Quiz builder
    li
      div.mbm
        i.fi.fi-group.fsxxxl
      div(style= 'text-align: center;') Team workspace

