
background-color: rgb(27, 98, 198);
position: fixed;
left: 0;
top: 0;
width: 86px;
height: 100%;
color: white;
text-align: center;

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;

    li {

        i {
            color: rgba(255, 255, 255, 0.55);
        }

        padding-top: 16px;
        padding-bottom: 16px;
    }

    div {
        font-size: 13px;
    }
}
