.ui-VideoPreview
  a.video-thumbnail(href='', data-bind='click: displayAlert')
    img.thumbnail-img(data-bind='attr:{src: thumbnailSrc}')
  .video-details
    a.video-title(href='', data-bind='text: videoTitle, click: displayAlert')
    a.channel-title(href='', data-bind='text: channelName, click: displayAlert')