.ui-VideoOverview

    .video-info-container

      span.video-info-number 26 
      span.video-info-text flashcards

      hr

      span.video-info-number 0 
      span.video-info-text questions

    button.add-to-queue-btn(type= 'button', data-bind= 'click: displayAlert')
      span Add to Quiz Queue
